
<!-- <ion-header >
    <ion-toolbar color="primary">
      <ion-title style="">Rescue</ion-title>
    </ion-toolbar>
  
  </ion-header> -->


<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
          <ion-icon name="list"></ion-icon>
        <ion-label>Facturacion</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="station-scan" >
          <ion-icon name="camera"></ion-icon>
        <ion-label>Crear Factura</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>